
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.container{
  position: fixed;
  top: 50%;
  left: 50%;
  width:80%;
  height: 80%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  border-radius: 20px;
  border:1px solid rgb(178,178,178);
}

.left{
	width: 5%;
	height: 100%;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	float: left;
	border-right: 1px solid rgb(178,178,178);
	position: relative;

}

.ng-bg img{
	position: absolute;
	width: 80%;
	height: 5%;
	top: 3%;
	left: 10%;
}

.ng-chat img{
	position: absolute;
	width: 60%;
	height: 5%;
	top: 20%;
	left: 15%;
}
.ng-chat img:hover{
	content:url(../images/chat.png);
}

.ng-contact img{
	position: absolute;
	width: 60%;
	height: 5%;
	top: 30%;
	left: 15%;
}
.ng-contact img:hover{
	content:url(../images/contact.png);
}

.right{
	width: 95%;
	height: 100%;
	float: right;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

.top{
	width: 100%;
	height: 10%;
	position: relative;
	border-top-right-radius: 20px;
	border-bottom: 1px solid rgb(178,178,178);

}

.self img{
	position: absolute;
	width: 3%;
	height: 50%;
	margin-right: 1%;
	transform: translateY(50%);
	right: 1%;
	border-radius: 50%;
}

.center{
	width: 100%;
	height: 90%;
	border-bottom-right-radius: 20px;


}

.center-left{
	border-right: 1px solid rgb(178,178,178);
	width: 25%;
	height: 100%;
	float: left;

}

.center-right{
	width: 75%;
	height: 100%;
	float: right;
	border-bottom-right-radius: 20px;

}

.chat-contact{
	position: relative;
	width: 100%;
	height: 12%;
	font-size: 12px;
	border-bottom: 1px solid rgb(178,178,178);

}

.chat-content{
	width: 100%;
	height: 76%;
	border-bottom: 1px solid rgb(178,178,178);
	font-size: 14px;
	overflow-y: scroll;
}

.chat-typing{
	width: 100%;
	height: 12%;
	border-bottom-right-radius: 20px;
	position: relative;
}

.input-typing{
	position: absolute;
	top: 25%;
	left: 3%;
	width: 87%;
	height: 50%;
	box-shadow: none;
	border-radius: 20px;
	border: none;
	padding: 0 2%;
	outline: none;
	font-size: 16px;
	background-color: rgb(243,243,243);

}

.typing-image{
	width: 5%;
	height: 60%;
	position: absolute;
	right: 3%;
	top:20%;
}

.chat-contact img{
	position: absolute;
	height: 60%;
	width: 5%;
	top: 20%;
	left: 3%;	
	
}

.chat-contact a{
	position: absolute;
	height: 10%;
	width: 80%;
	top: 20%;
	left: 10%;	
	
}

.chat-contact span{
	position: absolute;
	height: : 10%;
	width: 80%;
	top: 50%;
	left: 10%;
	color: #3188FF;
	
}

.you{
	float: left;
	width: 100%;
}

.me{
	float: right;
	width: 100%;
}

.chat-you{
	background-color: rgb(230,241,255);
	float: left;
	margin-left: 5%;
	margin-top: 20px;
	max-width: 70%;
	min-width: 20%;
	padding: 10px;
	border-radius: 0 15px 15px 15px;
	word-wrap:break-word;  
    word-break:break-all;  
}
.chat-me{
	background-color: rgb(120,170,255);
	float: right;
	margin-right: 5%;
	max-width: 60%;
	min-width: 20%;
	padding: 10px;
	margin-top: 20px;
	border-radius: 15px 0 15px 15px;
	color: #000;
	word-wrap:break-word;  
    word-break:break-all;  
}

.chat-content .you span{
	max-width:85%;
	display: block;
	float: left;
}

.chat-content .you p{
	width: 40px;
	display: block;
	color:rgb(178,178,178);
	float: right;
	font-size: 12px;
}

.chat-content .me span{
	max-width:85%;
	display: block;
	float: left;
	color: #fff;
}

.chat-content .me p{
	color:#fff;
	float: right;
	font-size: 12px;
}


.contact-top{
	width: 100%;
	height: 10%;
	border-bottom: 1px solid rgb(178,178,178);
}

.contact-list{
	width: 100%;
	height: 90%;
	overflow-y:scroll;

}

.contact{
	height: 15%;
	border-bottom: 1px solid rgb(178,178,178);
	font-size: 14px;
}

.contact:hover{
	background-color: rgb(243,243,243);
}

.contact-avator{
	float: left;
	text-align: center;
	width: 35%;
	height: 100%;
}

.contact-avator img{
	height: 80%;
	width: 60%;
	margin-top: 7%;
}

.contact-i{
	height: 100%;
	width: 65%;
	float: right;
}

.contact-name{
	height: 50%;
	width: 100%;
	position: relative;
}
.contact-name span{
	position: absolute;
	bottom: 0;
}

.contact-nickname{
	height: 50%;
	width: 100%;
	/*line-height: 50%;*/
}


.contact-name span:nth-child(even){
	right: 5%

}
.search{
	width: 100%;
	height: 100%;
	text-align: center;
}

.search input{
	padding: 0 5%;
	margin-top: 5%;
	width: 87%;
	height: 50%;
	box-shadow: none;
	border-radius: 20px;
	border: none;
	outline: none;
	font-size: 16px;
	background-color: rgb(243,243,243);
}





