<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.milchstrabe.rainbow.biz.mapper.ICLIMappper">

	<insert id="addCLI">
		INSERT INTO `cli_info` (cid,ctype,create_time,user_id)
		VALUE (#{cid},#{ctype},#{createTime},#{user.id})
	</insert>


</mapper>
