<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.milchstrabe.rainbow.biz.mapper.IUserMappper">

	<insert id="addUser">
		INSERT INTO `t_user` (user_id,username,passwd,status)
		VALUE (#{user.userId},#{user.username},#{user.passwd},#{user.status})
	</insert>

	<select id="findUserByUsernameAndStatus" resultType="User">
		SELECT id,
		user_id AS userId,
		username,
		passwd,
		status
		FROM `t_user`
		WHERE username=#{username} AND status=#{status}
	</select>

	<select id="findUserAndPropertyByUsernameAndStatus" resultMap="findUserAndProperty">
		SELECT
		t1.user_id AS userId,
		t1.username,
		t2.avatar,
		t2.age,
		t2.email,
		t2.gender,
		t2.signature,
		t2.nickname,
		t2.phone
		FROM `t_user` t1
		LEFT JOIN `t_user_property` t2 ON t1.user_id=t2.user_id
		WHERE t1.username=#{username} AND status=#{status}
	</select>

	<resultMap id="findUserAndProperty" type="User">
		<result property="userId" column="userId"/>
		<result property="username" column="username"/>
		<association property="property" javaType="UserProperty">
			<result property="avatar" column="avatar"/>
			<result property="age" column="age"/>
			<result property="email" column="email"/>
			<result property="gender" column="gender"/>
			<result property="signature" column="signature"/>
			<result property="nickname" column="nickname"/>
			<result property="phone" column="phone"/>
		</association>
	</resultMap>

	<select id="findUserByUsername" resultType="User">
		SELECT id,
		user_id AS userId,
		username,
		passwd,
		status
		FROM `t_user`
		WHERE username=#{username}
	</select>


	<select id="findUserByUserId" resultType="User">
		SELECT id,
		user_id AS userId,
		username,
		passwd,
		status
		FROM `t_user`
		WHERE user_id=#{id}
		LIMIT 1
	</select>


	<update id="updatePasswordByUsername">
		UPDATE t_user SET passwd=#{passwd} WHERE username=#{username}
	</update>
</mapper>
