<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.milchstrabe.rainbow.biz.mapper.IUserPropertyMapper">


	<insert id="addUserProperty">
		INSERT INTO `t_user_property` (user_id,avatar,age,email,gender,signature,nickname,phone)
		VALUE (#{user.userId},
		#{user.property.avatar},
		#{user.property.age},
		#{user.property.email},
		#{user.property.gender},
		#{user.property.signature},
		#{user.property.nickname},
		#{user.property.phone})
	</insert>

	<select id="findUserPropertyByUserId" resultType="UserProperty">
		SELECT avatar,age,email,gender,signature,nickname,phone
		FROM t_user_property
		WHERE user_id=#{userId}
		LIMIT 1
	</select>

	<select id="findUserPropertyByEmail" resultType="UserProperty">
		SELECT avatar,age,email,gender,signature,nickname,phone
		FROM t_user_property
		WHERE email=#{email}
		LIMIT 1
	</select>

	<update id="updateUserPropertyByUserId">
		UPDATE `t_user_property`
		<set>
			<if test="user.property.age != null">
				age=#{user.property.age}
			</if>
			<if test="user.property.email != null and user.property.email != ''">
				email=#{user.property.email}
			</if>
			<if test="user.property.gender != null">
				gender=#{user.property.gender}
			</if>
			<if test="user.property.signature != null and user.property.signature != ''">
				signature=#{user.property.signature}
			</if>
			<if test="user.property.nickname != null and user.property.nickname != ''">
				nickname=#{user.property.nickname}
			</if>
			<if test="user.property.phone != null and user.property.phone != ''">
				phone=#{user.property.phone}
			</if>
		</set>
		WHERE user_id=#{user.userId}
	</update>

	<update id="updateUserAvatar">
		UPDATE `t_user_property` SET avatar=#{user.property.avatar} WHERE user_id=#{user.userId}
	</update>

</mapper>
